@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

h1 {
  padding: 2rem
}

h2 {
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
  justify-content: baseline;
  align-items: top;
  width: 100vw;
  height: calc(100vh - 81px);
  padding: 1rem;
}

nav,
main {
  padding: 1rem;
  margin: 0 1rem;
  height: 100%;
  border: 3px solid #C7D3DC;
}

nav {
  width: 25rem;
  max-width: 40rem;
}

ul {
  list-style-type: none;
}

nav ul li {
  margin-bottom: 1rem;
}

main {
  width: 100%;
}

img {
  width: 40rem;
  max-width: 100%;
}

#newSpendingForm {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 26rem;
}

label {
  margin: 1rem;
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

input {
  padding: .4rem;
  width: 18rem;
  border: 2px solid #C7D3DC;
  border-radius: .2rem;
}


button {
  margin-top: 2rem;
  align-self: flex-end;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: .4rem;
  background-color: #6558F5;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#newSpendingForm input::placeholder {
  color: #C7D3DC;
}

table {
  border-collapse: collapse;
}

th,
tr,
td {
  padding: 1rem 3rem;
  border: 2px solid #C7D3DC;
}

th,
.bold {
  font-weight: bold;
}

.removeItem {
  cursor: pointer;
}

.editSpendingLink {
  text-decoration: none;
  color: black;
}

.saveButton {
  text-decoration: none;
  color: white;
}

.submitted {
  width: 100%;
  text-align: center;
}

.submitted h3 {
  color: #27B3A5;
  font-size: 3.5rem;
}

@media (max-width: 30rem) {

  th,
  tr,
  td {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 40rem) {
  .wrapper {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  nav {
    width: 100%;
    height: 20rem;
    max-width: 40rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  main {
    text-align: center;
  }

  table {
    display: inline-block;
  }

  th,
  tr,
  td {
    padding: 1rem .5rem;
  }
}